# Don't overwrite personalized config file
Application/Config.py

# Don't load audio server for now
Application/Audio/ProcessingSpectrumAnalyzer/

# Don't worry about pycache files
__pycache__/
*.py[cod]
*$py.class