# Don't overwrite custom config file
Settings/Config.py
accessory.state
log.txt

# Don't worry about pycache files
__pycache__/
*.py[cod]
*$py.class

# Skip the virtual environment
VirtualEnv/
venv/

# Skip pyinstaller folders
dist/
build/

# Don't need Intellij config files
.idea/
